body {
  background: linear-gradient(to bottom, #222, #111);
  margin: 0;
  font-family: "Roboto", sans-serif; /* Consider using a more professional font */
  color: #fff;
}

header {
  text-align: center;
  padding: 30px;
  font-size: 2rem;
}

#repos,
#about {
  padding: 40px;
}

#repos h2,
#about h2 {
  color: #ccc;
}

.repos-grid {
  display: grid; /* Set the display to grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Define columns */
  grid-gap: 20px; /* Add spacing between items */
}

.repos-grid li {
  background-color: #222; /* Add a background color for each item */
  color: #fff; /* Set text color */
  padding: 15px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  text-align: center; /* Center the text */
  list-style: none; /* Remove default list style */
}

footer {
  background-color: #111;
  color: #777;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
