.box {
  box-shadow: none !important;
}

.repo-list-box {
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.repo-list-box:hover {
  transform: translateY(-5px) !important;
  background-color: #212121;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
}

.repo-list-container {
  height: 97vh; /* Adjust height as needed */
  overflow-y: auto;
}

.repo-details-container {
  height: 97vh; /* Adjust height as needed */
  overflow-y: auto;
}

.back-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #555;
}
