@font-face {
  font-family: "Monocraft";
  src: url("/fonts/Monocraft.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
