/* #region Header Section Styles */
.header-section.DivStudio{
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 60%), url('/Images/DivStudiosDev.png'); /* Updated path */
  animation: fadeInLeft 0.5s ease-in; /* Add animation for fade-in from left */
  background-size: cover;
  background-position: center;
}

.header-section.Art{
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 60%), url('/Images/ArtSection.png'); /* Updated path */
  animation: fadeInRight 0.5s ease-in; /* Add animation for fade-in from left */
  background-size: cover;
  background-position: center;
}

.header-section {
  padding: 100px; /* Adjust padding as needed */
  text-align: center; /* Center the text */
  color: white; /* Change text color to white */
}

.header-section h2 {
  font-size: 36px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Space below the heading */
}

/* New animation for fade-in from left */
@keyframes fadeInLeft {
  from {
      opacity: 0; /* Start fully transparent */
      transform: translateX(-20px); /* Start from the left */
  }
  to {
      opacity: 1; /* End fully opaque */
      transform: translateX(0); /* End at original position */
  }
}

@keyframes fadeInRight {
  from {
      opacity: 0; /* Start fully transparent */
      transform: translateX(20px); /* Start from the left */
  }
  to {
      opacity: 1; /* End fully opaque */
      transform: translateX(0); /* End at original position */
  }
}
/* #endregion */
