/* #region General Styles */
html {
  overflow: -moz-scrollbars-none; 
  scrollbar-width: none; 
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif; 
  color: #333;
  
  background-size: cover; 
  background-position: center; 
  overflow: auto;
}


body::-webkit-scrollbar {
  display: none; 
}
/* #endregion */

/* #region Header Styles */
header {
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 60%);
  background-size: cover;
  background-position: center;
  padding: 150px; /* Moved padding from HTML */
  animation: fadeIn 0.5s ease-in; /* Add animation to header */
}

header::before{
  content: ""; /* Added content property to ensure pseudo-element is displayed */
  position: absolute; /* Added position property to position the pseudo-element */
  top: 0; /* Added top property to position the pseudo-element */
  left: 0; /* Added left property to position the pseudo-element */
  width: 100%; /* Added width property to set the width of the pseudo-element */
  height: 100%; /* Added height property to set the height of the pseudo-element */
  background-image: url('https://i.ytimg.com/vi/QjMJsQx_O7o/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s ease-in, zoomIn 90s linear forwards;

  z-index: -1;
}

header h1 {
  margin: 0; /* Remove default margin to eliminate space */
  font-size: 80px;
  font-weight: bolder; /* Make the title bold */
  letter-spacing: -2px; /* Adjust letter spacing closer */
  width: auto; /* Allow the title to be wider */
  text-align: center; /* Align the title to the left */
  color: white; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

header p {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center; /* Align the paragraph to the center */
  color: white; /* Change text color to white */
}


.header img {
  max-width: 80%; /* Set the image width to 50% of the header */
  height: 100%; /* Maintain aspect ratio */
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* End fully opaque */
    }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1.08);
  }
  30% {
    transform: scale(1.11);
  }
  50% {
    transform: scale(1.14);
  }
  70% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1.30);
  }
}


@media (max-width: 968px) { /* Adjust styles for mobile devices */
  header h1 {
    font-size: 50px; /* Decrease font size for the title */
  }
}

@media (max-width: 768px) { /* Adjust styles for mobile devices */
  header {
    padding: 100px; /* Reduce padding for smaller screens */
    font-size: 25px;
  }

  header h1 {
    font-size: 30px; /* Decrease font size for the title */
  }

  header p {
    font-size: 18px; /* Decrease font size for the paragraph */
    margin-bottom: 20px; /* Reduce margin for the paragraph */
  }
}

/* #endregion */

/* #region Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
/* #endregion */
